Systems Integration/XML_Java_HTML/output_merged.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="researchers"/>
        <xs:element ref="statistics"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
<xs:element name="researchers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element maxOccurs="unbounded" ref="area"/>
        <xs:element maxOccurs="unbounded" ref="affiliation"/>
        <xs:element ref="research_interests"/>
        <xs:element ref="email"/>
        <xs:element ref="number_articles"/>
        <xs:element maxOccurs="unbounded" ref="publications"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="area" type="xs:string"/>
  <xs:element name="affiliation" type="xs:string"/>
  <xs:element name="research_interests">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="interest"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interest" type="xs:string"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="number_articles">
  	<xs:simpleType >
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="publications">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="date"/>
        <xs:element ref="citation"/>
        <xs:element minOccurs="0" ref="co_authors"/>
        <xs:element ref="publication_source"/>
        <xs:element minOccurs="0" ref="publisher"/>
        <xs:element ref="description"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="date">
  	<xs:simpleType >
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="1990" />
        <xs:maxInclusive value="2023" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="citation">
  	<xs:simpleType >
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="co_authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="author" type="xs:string"/>
  <xs:element name="publication_source">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="conference"/>
          <xs:element ref="journal"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="book"/>
        <xs:element minOccurs="0" ref="source"/>
        <xs:element minOccurs="0" ref="volume"/>
        <xs:element minOccurs="0" ref="issue"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="pag_min"/>
          <xs:element ref="pag_max"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="conference" type="xs:string"/>
  <xs:element name="journal" type="xs:string"/>
  <xs:element name="book" type="xs:string"/>
  <xs:element name="source" type="xs:string"/>
  <xs:element name="volume">
  	<xs:simpleType >
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="issue">
 	 <xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="pag_min">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="pag_max">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="publisher" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="numberCitations"/>
        <xs:element minOccurs="0" ref="numberConferences"/>
        <xs:element minOccurs="0" ref="numberResearchers"/>
        <xs:element minOccurs="0" ref="numberJournals"/>
        <xs:element minOccurs="0" ref="numberSources"/>
        <xs:element minOccurs="0" ref="numberBooks"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="title_stats"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numberCitations">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numberConferences">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numberResearchers">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numberJournals">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numberSources">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="numberBooks">
  	<xs:simpleType>
      <xs:restriction base="xs:integer">
        <xs:minInclusive value="0" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="title_stats" type="xs:string"/>
</xs:schema>
